/*-----Home Page-----*/
body{
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-color: #111;
}

div.container{
	width: 950px;
	min-height: 600px;
	margin: 0 auto;
	border: 1px solid darkmagenta;
	-webkit-transition: all 2s;
}

/*div.container > div{
	border: 1px solid red;
}

div.container > div *{
	border: 1px solid black;
}*/

div.menu_wrap{
	position: fixed;
	top: 3px;
	width: 240px;
	z-index: 999;
	-webkit-transition: all 900ms ease-in-out;
}

div.menu_wrap div.menu{
	background-image:url('./images/menu_back.png'); 
	background-repeat: repeat-y;
	background-position: top left;
	z-index: 999;
}

div.menu div.logo h1 a{
	display: block;
	width: 220px;
	height: 200px;
	background-image: url('./images/logo.png') ;
	background-repeat: no-repeat;
	background-position: top center;
}

div.menu nav menu li{
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
	line-height: 0;
	font-weight: normal;
	
} 

div.menu nav menu > li:first-child a{
	color: #fff;
	border-top: 1px solid #343434;
}

div.menu nav menu li a{
	display:block;
	padding: 3px 15px ;
	padding-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ccc;
	font-family: 'PT Sans Narrow', 'Helvetica Neue', Arial, sans-serif;
	font-size:17px;
	border-bottom: 1px solid #343434;
}

div.menu nav menu li a img{
	vertical-align: middle;
	margin-left: 140px;
	opacity: 0;
}

div.menu nav menu li:hover a img{
	opacity: 1;
}

div.menu nav menu li span{
	font: italic 10px 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif;
	text-transform: lowercase;
	opacity: 0.8;

}

div.menu li menu{
	position: absolute;
	left: 100%;
	top:0;
	display: none;
}

div.menu li:hover menu{
	display: block;
	background-image:url('./images/menu_back.png'); 
	background-repeat: repeat-y;
	background-position: top left;
	border: 1px solid #343434;

}

div.menu li menu li a{
	white-space: nowrap;
	font: italic 10px 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif;
	text-transform: uppercase;
	padding:8px 0 8px 10px;
	opacity: 0.8;
	float: left;
}

div.menu li menu li a img{
	display: block;
	float: left;
	margin-right: 20px;
	margin-left: 100px;
}

div.menu_wrap div.hide{
	width: 240px;
	height: 115px;
	padding:5px;
	background-image: none;
	background-image: url('./images/hide_menu_back.png');
	background-repeat: no-repeat;
	background-position: left top;
}

div.menu_wrap div.hide img{
	margin-left: 90px;
	margin-top: 20px;
}

/*-----Menu Nav -----*/


/*-----End-Menu Nav -----*/
/*-----End-Home Page-----*/