/*---------- Fonts ----------*/

@font-face {
	font-family: 'Nazanin';
	src: url('fonts/BNazanin.eot');
	src: url('fonts/BNazanin.eot?#iefix') format('embedded-opentype'),
		 url('fonts/BNazanin.woff') format('woff'),
		 url('fonts/BNazanin.ttf') format('truetype');
	font-weight	: normal;
	font-style	: normal;
	-webkit-font-smoothing	: antialiased;
}